@import url('https://fonts.googleapis.com/css2?family=Open+Sans+Condensed:wght@300&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    color: white;
    font-family: 'Open Sans Condensed', sans-serif;
}

.page-content {
    background: #F5BC31;
    min-height: 100vh;
}

.card {
    max-width: 650px;
    margin: auto;
}

.logo {
    padding: 25px 0 15px 0;
    text-align: center;
}

.card img {
    width: 100%;
    max-width: 100%;
}

.product-container {
    padding: 25px;
}

.shoe-type,
.shoe-type-sub {
    font-size: 35px;
}

.price {
    font-size: 28px;
}

.shoe-description {
    letter-spacing: 2px;
    font-size: 14px;
    padding: 10px 0;
}

.shoe-type,
.shoe-type-sub,
.circle,
.price,
.shoe-description,
.shoe-size {
    display: block;
}

.shoe-type-sub,
.circle,
.price,
.shoe-description {
    margin-bottom: 15px;
}

select {
    color: black;
    width: 125px;
    padding: 5px;
    font-size: 15px;
    letter-spacing: 1px;
    font-weight: 800;
}